# Dependencies
node_modules
.pnpm-store

# Build Outputs
dist
build
.turbo
*.tsbuildinfo

# Firebase
.firebase
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# Expo
.expo/
web-build/

# Environment Files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System
.DS_Store
Thumbs.db

# IDEs
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

functions/serviceAccountKey.json
repository-tree.txt
*.log
apps/marketing-mobile/android/*.txt
apps/marketing-mobile/android/*.log


tsc_errs.txt
*.log

